body {
    font-size: 20px;
}

li {
    list-style: decimal;
    margin: 10px auto;
}

.pink {
    color: pink;
    font-size: 20px;
}

.skyblue {
    color: skyblue;
    font-size: 18px;
}


.circle {
    list-style: circle;
}

.black {
    font-size: 26px;
    font-weight: 700;
}

.code {
    font-weight: 700;
    font-size: 18px;
}

.retract {
    text-indent: 2em;
}

.image_center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}